server:
  port: 8081
  error:
    include-message: always

spring:
  application:
    name: fraud
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/fraud
    username: 'amigoscode'
    password: 'password'
  jpa:
    hibernate:
      ddl-auto: create-drop # When you launch the application for the first time - switch "none" at "create"
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true

eureka:
  client:
    server-url:
      default-zone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
